body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url("../images/crossword.png");
    background-color: #cccccc;
}

.nav{
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    color: black;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #9E9D99;
    font-size: 1.1em;
}


#logo{
    background: #4AAAA5;
    padding: 1.5em;
    font-size: 25px;
    font-weight: bold;    
}
#logo a {
    color: white;
}
.nav a{
    color: #9E9D99;
    text-decoration: none;
}

.nav a:hover{
    color: rgb(17, 212, 226);
}

#header{
    background: #FAFAFA;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.nav, #main-content{
    margin: 0 auto;
    width: 960px;
}

#main-content{    
    margin-bottom: 50px; 
}

.nav div span{
    color: #aaa;
    margin-left: 20px;
}

#content-on-me{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 35px;
    margin-top: 40px;
    padding-bottom: 200px;
}

#about{
    background-color: #FFF; 
    width: 610px;      
}

#about > a {
    text-decoration: none;
}

#about > span a {
    color: #4AAAA5;
    text-decoration: none;
}

#social-media{
    background-color: #FAFAFA; 
    height: 200px;
}

#about, #social-media{
    font-size: 1.2em;
    line-height: 150%;
    padding: 20px;
    color: #919898;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#social-media:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#social-media-icons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2px;
    padding: 20px;
}

#social-media-icons img:hover{
    opacity: 0.8;
}

#about > img {
    float: left;
    padding-right: 20px;
    border-radius: 20px 0;
}

hr{
    height: 3px;
    background: #aaa;
}

#footer{
    display: grid;
    grid-auto-rows: minmax(50px, auto);
    background: #666666;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    color: white;
    border-top: 9px solid #4AAAA5;
}

#go-to-portfolio{   
    padding: 10px;
    color: grey;
    text-align: center;
    border: 1px solid #4AAAA5;
    border-radius: 3px;
}

#go-to-portfolio:hover{
    background: #4AAAA5;
    color: white;
    cursor: pointer;
    box-shadow: 0 14px 28px rgba(19, 56, 54, 0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.active a{
    color: rgb(17, 212, 226);
}

/* Potfolio CSS Code: My Work Section */

#my-work{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    grid-auto-rows: minmax(300px, auto);
    grid-gap: 2em;
}

.show{
    background: blue;
    display: grid;
    height: 200px;
    justify-content: center;
    align-items: end;
    color: white;
    background-color: #353535;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: top left;
    transition: all ease-in-out 300ms;
}

.show:hover{
    background-blend-mode: initial;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    cursor: pointer;
}

.case1{  
    background-image: url("../images/case1-railroad.jpg");
}

.case2{
    background-image: url("../images/case2-skyscrapper.jpg");
}

.case3{
    background-image: url("../images/case3-manhattan.jpg");
}

.case4{
    background-image: url("../images/Detroit-View-FromCanada.jpg");
}

/* Contact Form CSS */
input{
    width: 100%;
    border: 1px solid rgba(105, 104, 104, 0.25);
    height: 2.4em;
    padding: 5px;
    margin-bottom: 20px;
}

textarea:focus, input:focus{   
    outline: none;
    border: 1px solid #4AAAA5;
}
textarea{
    width: 100%;
    padding: 5px;
    border: 1px solid rgba(105, 104, 104, 0.25);
    margin-bottom: 15px;
}

input[type=button]{
    width: 150px;
    background: #4AAAA5;
    color: white;
    border: 1px solid #4AAAA5;
    font-size: 18px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

input[type=button]:hover{    
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
}

h1{
    font-size: 30px;
}

h1, h2{
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4AAAA5;
    font-weight: bold;
}

/* Media Queries */

/* 1. When the screen has a maximum width of 980px */

@media only screen and (max-width : 980px) {

    /* Navigation and About Page */

    .nav{
        display: grid;
        grid-template-columns: 4fr 1fr 1fr 1fr;
    }
    #logo{
        background: #4AAAA5;
        padding: 20px 0;
        font-size: 18px;
        font-weight: bold;    
    }

    .nav, #main-content{
        margin: 0 auto;
        width: 800px;
    }

    .nav div span{
        margin-left: 15px;
    }

    #about{
        width: 400px;
    }

    #social-media{
        width: 250px;
    }

    #about, #social-media{
        padding: 30px;
    }

    #about > img {
        float: unset;
        margin-top: 10px;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }

    /* Portfolio Page */

    #my-work{
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        grid-gap: 0;
    }
   
}


/* 2. When the screen has a maximum width of 768px */
@media screen and (max-width : 768px) {

    body{
        width: 768px;
    }

    .nav{
        display: grid;
        grid-template-columns: 3fr 1fr 1fr 1fr;
        width: 100%;
    }

    #main-content{
        width: 100%;
        margin: 20px;
    }

    #content-on-me{
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 35px;
        padding-bottom: 200px;
        margin: 10px;
        width: 100%;        
    }

    #about, #social-media{
        width: 80%;
        margin: 30px;
    } 

    #about > img {
        float: left;
        border-radius: 0;
        width: 280px;
        height: 210px;
    } 

    /* Portfolio Page */

    #my-work{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        grid-auto-rows: minmax(300px, auto);
        grid-gap: 2em;
    }
    
}


/* 3. When the screen has a maximum width of 640px */
@media screen and (max-width : 640px) {

    #content-on-me{
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 35px;
        margin: 40px;
        padding-bottom: 200px;
        width: 640px;        
    }

    #about, #social-media{
        margin-top: 50px;
        width: 80%;        
    }
    /* First, we get rid of the grid layout and make it a block */
    .nav{
        display: block;
        text-align: center;
        width: 100%;
        height: 130px;
    }
    /* Then, we float everything to the left */
    .nav > div {
        float: left;
        text-align: center;
        margin: 3% 10%;
    }

    .nav span{
        display: none;
    }

    .nav div:after {
        content: "|";
        padding: 0 .5em;
    }
    /* Then, we remove the float from the div with the logo */
    #logo{
        float: none;
        margin-bottom: 2px;
        margin: inherit;
    }
    #logo:after{
        content: none;
    }

    #about  img {
        float: unset;
        padding-right: 20px;
    }
    
}